@page "/"

<PageTitle>الصفحة الرئيسية</PageTitle>

<h1>مرحبا بكم في السيرة الذاتية</h1>

خريج معهد الادرة برمجة حاسب
<br/>
<br/>
<a href="Mywork">
    <button>اعمالي</button>
</a>
<br/>
<br/>
<img src="/ali.jpg" width="300"/> 

